In [6]:
import pandas as pd
import numpy as np
s=pd.DataFrame(np.random.randn(5,4),columns=["a","b","c","d"])
s

          a         b         c         d
0  0.522435  0.682912  0.373077 -0.427575
1 -0.971739  0.280355 -0.667769  0.955751
2 -0.197548  2.050163 -1.032979 -1.820136
3  1.359245  0.817998 -0.426608 -1.844041
4 -0.692643  0.115448  1.293948 -0.092108

In [13]:
x=pd.DataFrame(data=[[1,2,3,4],[5,6,7,8]],columns=["a","b","c","d"],index=["e","f"])
x

   a  b  c  d
e  1  2  3  4
f  5  6  7  8

In [12]:
x.values

array([[1, 2, 3, 4],
       [5, 6, 7, 8]], dtype=int64)

In [14]:
x['b']

e    2
f    6
Name: b, dtype: int64

In [3]:

df1=pd.DataFrame({'price':[100,200,300,400],'goods':[20,40,60,80]})
df1.drop('price')

NameError: name 'pd' is not defined

In [19]:
df1.size

8

In [20]:
df1['price']

0    100
1    200
2    300
3    400
Name: price, dtype: int64

In [22]:
df1.iloc[1:2]

   price  goods
1    200     40

In [23]:
x.iloc[2:3]

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [24]:
df1.loc[1:3]

   price  goods
1    200     40
2    300     60
3    400     80

In [25]:
df1.loc[1:3]['price']

1    200
2    300
3    400
Name: price, dtype: int64

In [30]:
df1[["price","goods"]]

   price  goods
0    100     20
1    200     40
2    300     60
3    400     80

In [2]:
df1['goods'].mean()
df1.drop('price')

NameError: name 'df1' is not defined

In [34]:
data=[{'a':i,"b":2*i}
     for i in range(10)]
pd.DataFrame(data)

   a   b
0  0   0
1  1   2
2  2   4
3  3   6
4  4   8
5  5  10
6  6  12
7  7  14
8  8  16
9  9  18

NameError: name 'df1' is not defined